name: Unit Tests

on:
  push:
    branches:
      - "main"
    paths: &paths
      - '.github/workflows/UnitTests.yml'
      - 'ext/**'
      - 'src/**'
      - 'test/**'
      - 'Project.toml'
  pull_request:
    paths: *paths
  release:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: always.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Julia ${{ matrix.julia_version }} - ${{ matrix.os }} - ${{ matrix.julia_arch }} - check_bounds=${{ matrix.julia_check_bounds }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        julia_check_bounds:
          - "yes"
        julia_version:
          - "1.10"
          - "1.11"
          - "1"
          - "pre"
          - "nightly"
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        julia_arch:
          - default
        build_is_production_build:
          - true
        include:
          - julia_check_bounds: "yes"
            julia_version: '1'
            julia_arch: x86
            os: ubuntu-latest
            build_is_production_build: true
          - julia_check_bounds: "auto"
            julia_version: '1'
            julia_arch: default
            os: ubuntu-latest
            build_is_production_build: true
          - julia_check_bounds: "auto"
            julia_version: 'pre'
            julia_arch: default
            os: ubuntu-latest
            build_is_production_build: true
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: julia-actions/setup-julia@v2
      with:
        arch: ${{ matrix.julia_arch }}
        version: ${{ matrix.julia_version }}
    - uses: julia-actions/cache@v2
    - uses: julia-actions/julia-runtest@v1
      env:
        BUILD_IS_PRODUCTION_BUILD: ${{ matrix.build_is_production_build }}
      with:
        check_bounds: ${{ matrix.julia_check_bounds }}
        coverage: false
  test-with-code-coverage:
    name: Julia ${{ matrix.julia_version }} - ${{ matrix.os }} - with code coverage
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        julia_version:
          - "1.10"
          - "1.11"
          - "1"
          - "pre"
          - "nightly"
        os:
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: julia-actions/setup-julia@v2
      with:
        version: ${{ matrix.julia_version }}
    - uses: julia-actions/cache@v2
    - uses: julia-actions/julia-runtest@v1
      env:
        BUILD_IS_PRODUCTION_BUILD: false
    - uses: julia-actions/julia-processcoverage@v1
    - uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: lcov.info
      continue-on-error: true
